#todo-button{
    border: none;
    background-color: #e9e5e5;
    height: 30px;
    border-radius: 5px;
    min-width: 50px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

#todo-button:hover{
    background-color: #222121;
    color: #eeeded;
}
